{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth md:scroll-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Events</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <style>
      /* Hide scrollbar for horizontal scroll */
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
  </head>

  <body>

    <div class="fixed inset-0 bg-cover bg-center" style="background-image: url('{% static 'image/bg6.jpg' %}')"></div>
    <div class="fixed inset-0 bg-black/30"></div>

    <section class="relative min-h-screen pt-24 z-30 text-black text-xl">


    <div class="flex justify-between gap-3 mx-2 p-3">
      <a href="{% url 'manager-dashboard' %}" class="text-xl bg-sky-500 p-1 rounded-lg hover:text-sky-600 text-black">Dashboard</a>
      <a href="{% url 'create-event' %}" class="bg-green-400 p-1 rounded-lg hover:bg-green-500 text-black">+Create Event</a>
    </div>

    {% if messages %}
                {% for message in messages %}
                    <div class="px-3 py-2 mb-3 rounded-md bg-gray-700 text-white text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

    <section class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4 p-4">
      {% for event in events %}

      <!-- Event Card 1 -->
      <div
        class="rounded-2xl bg-green-200 p-4 shadow hover:shadow-lg transition text-center flex flex-col items-center"
      >
        <img
          src=" {{event.asset.url}} "
          alt="Event 1"
          class="w-full h-48 object-cover rounded-xl mb-4"
        />
        <div class="mb-4">
          <h3 class="text-xl font-bold">{{event.name}}</h3>
          <p class="text-gray-700">{{ event.date }}</p>
          <p class="text-gray-500">{{ event.location }}</p>
          <p class="text-gray-500">{{ event.category }}</p>
        </div>
        <div class="flex gap-2">
            <a href='{% url "update-event" event.id %}' class="px-2 py-1 bg-green-500">
              Edit
            </a>
          <form action="{% url 'delete-event' event.id %}" method="POST" class="inline">
            {% csrf_token %}
            <button type="submit" class="px-2 py-1 bg-rose-600">Delete</button>
          </form>
        </div>
      </div>
      {% empty %}
      <p class="col-span-full text-center text-slate-500">No events found.</p>

      {% endfor %}
    </section>
  </body>
</html>
