{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
        <div class="mb-6 bg-white p-6 rounded shadow">
                <h2>All Participants</h2>
                <ul>
                    {% for participant in participant %}
                        <li>{{ participant.username }}</li>
                    {% empty %}
                        <li>No participants found</li>
                    {% endfor %}
                </ul>
            </div>
</body>
</html>